@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

/* CSS RESET */
*, *::before, *::after {
    box-sizing: border-box;
  }
 
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }
 
  #root, #__next {
    isolation: isolate;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Outfit, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);
}
 /* CARD */

 .card {
    
    width: 300px;
    border-radius: 15px;
    padding: 24px;
    background-color: hsl(216, 50%, 16%);
    box-shadow: 0px 20px 25px 15px rgba(0, 0, 0, 0.05),
                0px 40px 30px 15px rgba(0, 0, 0, 0.1);
}

.main-img {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}

h1 {
    font-size: 22px;
    color: white;
    padding-top: 15px;
    font-weight: 500;
}

.text {
    font-size: 18px;
    color: hsl(216, 30%, 55%);
    margin-bottom: 22px;
    line-height: 1.5;
}

.card-body {
    padding: 23px 0;
    margin-bottom: 10px;
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-price, .countdown {
    display: flex;
    align-items: center;
    font-weight: 500;
}


.card-icon {
   margin-right: 5px;
}

.card-price {
    color: hsl(178, 100%, 50%);
}

.countdown {
    color: hsl(216, 30%, 55%);
}