@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');


*, *::before, *::after {
    box-sizing: border-box;
  }
 
  html, body {
    height: 100%;
  }
  
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }
 
  #root, #__next {
    isolation: isolate;
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Outfit, sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(217, 54%, 11%);

}

.container {
    
    width: 250px;
    height: 450px;
    border-radius: 20px;
    padding: 10px;
    background-color: hsl(216, 50%, 16%);
}

img {
    width: 100%;
    border-radius: 15px;
}

h1 {
    font-size: 20px;
    color: white;
}

p {
    font-size: 18px;
    color: hsl(215, 32%, 27%)
}